* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hotpink;
}
header {
  width: 85%;
  background-color: #444;
  margin: 20px auto;
  padding: 10px;
}
h1 {
  text-align: center;
  color: white;
}
.formrow {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
label[for="animal"] {
  flex: 0 0 23.6%;
  text-align: left;
}
label[for="age"] {
  flex: 0 0 20%;
  text-align: left;
}
input[type="radio"] {
  flex: 0 0 3%;
}
label[for="dog"],
label[for="cow"],
label[for="chinchilla"] {
  flex: 0 0 5%;
}
input[type="number"] {
  width: 30%;
}
#messagecontainer {
  width: 75%;
  margin: 0 auto;
  background-color: antiquewhite;
}
#message {
  color: black;
  font-size: 2em;
  width: 80%;
  margin: auto auto;
  text-align: justify;
}
